In [49]:
import pandas as pd
import os

In [50]:
data_1_df = pd.read_json("purchase_data.json", orient="columns")
data_2_df = pd.read_json ("purchase_data2.json", orient="columns")

In [51]:
combine_df = pd.concat([data_1_df, data_2_df])
combine_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

# Player Count

In [52]:
total_players = combine_df["SN"].count()

# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Total Players": [total_players]})

summary_df

   Total Players
0            858

# Purchasing Analysis (Total)

In [53]:
unique_items = combine_df["Item Name"].nunique()
avg_price = combine_df["Price"].mean()
purchase_count = combine_df["Item Name"].count()
total_revenue = combine_df["Price"].sum()

# Creating a summary DataFrame using above values
purchaseanalysis_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                          "Average Purchase Price": [avg_price],
                          "Total Number of Purchases": [purchase_count],
                          "Total Revenue": [total_revenue]})

purchaseanalysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.930571,180,858,2514.43

# Gender Demographics

In [71]:
total_gender = combine_df["Gender"].count()
male = combine_df["Gender"].value_counts()['Male']
female = combine_df["Gender"].value_counts()['Female']
non_gender_specific = total_gender - male - female


male_percent = (male/total_gender) * 100
female_percent = (female/total_gender) * 100
non_gender_specific_percent = (non_gender_specific/total_gender) * 100

genderanalysis_df = pd.DataFrame({"Gender": ["Male", "Female", "Other"], "Percentage of Players": [male_percent, female_percent, non_gender_specific_percent],
                          "Total Count": [male, female, non_gender_specific]})
                          
genderanalysis_df.set_index("Gender", inplace=True)
genderanalysis_df

        Percentage of Players  Total Count
Gender
Male                81.235431          697
Female              17.365967          149
Other                1.398601           12

# Purchasing Analysis (Gender)

In [86]:
male_purchase = combine_df.loc[combine_df["Gender"] == "Male"]
male_purchase_count = male_purchase["Item Name"].count()
male_purchase_count

female_purchase = combine_df.loc[combine_df["Gender"] == "Female"]
female_purchase_count = female_purchase["Item Name"].count()
female_purchase_count

other_purchase = combine_df.loc[combine_df["Gender"] == "Other / Non-Disclosed"]
other_purchase_count = male_purchase_count - female_purchase_count

male_avg_price = male_purchase["Price"].mean()
female_avg_price = female_purchase["Price"].mean()
other_avg_price = other_purchase["Price"].mean()

male_total_revenue = male_purchase["Price"].sum()
female_total_revenue = female_purchase["Price"].sum()
other_total_revenue = other_purchase["Price"].sum()


genderpurchases_df = pd.DataFrame({"Gender": ["Male", "Female", "Other"], 
                                   "Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count],
                          "Average Purchase Price": [male_avg_price, female_avg_price, other_avg_price], 
                                   "Total Purchase Value": [male_total_revenue, female_total_revenue, other_total_revenue], 
                                   })
                          
genderpurchases_df.set_index("Gender", inplace=True)
genderpurchases_df

        Average Purchase Price  Purchase Count  Total Purchase Value
Gender
Male                  2.944448             697               2052.28
Female                2.847584             149                424.29
Other                 3.155000             548                 37.86